[submodule "modules/terraform-aws-vault"]
	path = modules/terraform-aws-vault
	url = ../terraform-aws-vault.git
[submodule "modules/terraform-aws-vpn"]
	path = modules/terraform-aws-vpn
	url = ../terraform-aws-vpn.git
[submodule "modules/terraform-aws-vpc"]
	path = modules/terraform-aws-vpc
	url = git@github.com:firehawkvfx/terraform-aws-vpc.git
