[submodule "modules/terraform-aws-vault"]
	path = modules/vault/modules/terraform-aws-vault
	url = ../terraform-aws-vault.git
[submodule "modules/terraform-aws-vpn"]
	path = modules/terraform-aws-vpn
	url = ../terraform-aws-vpn.git
[submodule "modules/vpc/modules/terraform-aws-vpc"]
	path = modules/vpc/modules/terraform-aws-vpc
	url = ../terraform-aws-vpc.git
[submodule "modules/vpc/modules/consul-client-security-group"]
	path = modules/vpc/modules/consul-client-security-group
	url = ../consul-client-security-group.git
[submodule "modules/vault-ssh/modules/firehawk-auth-scripts"]
	path = modules/vault-ssh/modules/firehawk-auth-scripts
	url = https://github.com/firehawkvfx/firehawk-auth-scripts.git
